{% extends "layout.html" %}
{% block content %}
<main id="course">
    <div class="flex justify-center flex-wrap">
        <div class="mx-4 p-16 bg-slate-600">
            <div class="flex justify-start flex-wrap pb-3">
                <h3 class="font-semibold text-justify text-4xl">Water Colour Course</h3>
            </div>
            <div>
                <li class="text-2xl">From beginner to advanced</li>
                <li class="text-2xl">Every problem explained</li>
                <li class="text-2xl">Only for &#8377 200</li>
            </div>
            <div class="flex justify-end">
                <div class="justify-self-end">
                    <button class="border-[2px] border-solid border-sky-400 bg-sky-900" id="" type="submit">Sign
                        up</button>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}