<!DOCTYPE html>
<html lang="en" class="text-black">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/util.css">
    <title>Kalaspandan Art Gallery</title>
    <style>
        .background-url {
            background: url("/static/utils/ganesh.jpg") no-repeat center content-box;
            background-attachment: local;
            background-size: cover;
            height: 100%;
        }
    </style>

</head>

<body class="h-[200%] back-color">
    <header class="bg-white">
        <div class="flex md:justify-between end">
            <div class="navbar flex justify-between items-center p-4 order-first md:hidden">
                <div class="flex justify-center items-center md:hidden">
                    <div class="hamburger inline-block p-4 cursor-pointer md:hidden" id="activate" onclick="slidebar()">
                        <div class="line h-0.5 w-6 my-1 bg-black"></div>
                        <div class="line h-0.5 w-6 my-1 bg-black"></div>
                        <div class="line h-0.5 w-6 my-1 bg-black"></div>
                    </div>
                </div>
            </div>
            <div class="md:justify-end">
                <nav class="text-[1.5rem] text-black flex justify-end md:flex-wrap m-[1.5rem]" style="list-style: none;"
                    id="slidebar-hide">
                    <li class=""><a
                            class="navbar-items m-[1.5rem] hover:underline hover:underline-offset-1 cursor-pointer"
                            href="/">Home</a></li>
                    <li class=""><a
                            class="navbar-items m-[1.5rem] hover:underline hover:underline-offset-1 cursor-pointer"
                            href="/courses">Courses</a></li>
                    <li class=""><a
                            class="navbar-items m-[1.5rem] hover:underline hover:underline-offset-1 cursor-pointer"
                            href="/posts">Posts</a></li>
                    <li class=""><a
                            class="navbar-items m-[1.5rem] hover:underline hover:underline-offset-1 cursor-pointer"
                            href="/info">About Us</a></li>
                </nav>
            </div>
        </div>
    </header>
    {% block content %} {% endblock %}
    <script src="/static/js/main.js"></script>
</body>

</html>