{% extends "layout.html" %}
{% block content %}
<main class="">
    <div class="w-full h-[100%] font-black flex flex-col justify-center m-auto" style="background: url('/static/utils/Diwali.jpg') center center no-repeat;
        background-size: cover;">
        <div class="h-[100%] m-[15%] text-center">
            <h1 class="text-white order-1 text-center text-[2rem] p-[auto]">POSTS</h1>
            <h3 class="text-white text">"Let your art be displayed here"</h3>
        </div>
    </div>
    <!-- Posts -->
    <div class="m-3">
        <div class="bg-white  flex justify-center p-[1.5rem] shadow-md">
            <div class="">
                <a href="/posts" class="hover:text-blue-500">
                    <!-- Title -->
                    <h1 class="font-extrabold text-black text-3xl p-2 hover:text-blue-500">Man must not stop trying</h1>
                    <!-- Sub-title -->
                    <h3 class="text-black hover:text-blue-500 pl-2">Problems are much small when they are viewed from
                        150 miles away</h3>
                </a>
                <!-- footer containing author and date with time -->
                <p class="text-black p-2">Posted by Riddhiman Choudhury on 8-12-22 20:49</p>
            </div>
        </div>
    </div>

</main>
{% endblock %}